<!-- <mat-dialog-content class="example-container" autosize>
  <ng-template #drawer class="example-sidenav" mode="popup">
    <div class="main-container">
      <div style="text-align-last: end">
        <mat-icon (click)="drawer.close()">close</mat-icon>
      </div>

      <app-dynamic-form
        [formName]="activeFormName"
        [listData]="listData"
        [model]="data"
        [mode]="'popup'"
      ></app-dynamic-form>
    </div>
  </ng-template> -->

<!-- <ng-template #drawer let-data>
  <div
    style="
      position: absolute;
      width: 50px;
      right: 0px;
      z-index: 99999;
      float: right;
    "
  >
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <div style="width: 100%">
    <app-dynamic-form
      [formName]="activeFormName"
      [model]="data"
      [mode]="'popup'"
      (onClose)="close($event)"
    ></app-dynamic-form>
  </div>
</ng-template> -->

<div class="example-sidenav-content">
  <div
    style="
      height: 50px;
      margin: 30px;
      text-align: center;
      display: flex;
      flex-direction: row;
    "
  >
    <h2 class="head">{{ pageHeading }} List</h2>
    <div>
      <button
        class="icon"
        matTooltip="Add"
        mat-mini-fab
        (click)="doAction()"
        style="
          margin-right: 20px;
          background-color: rgb(237, 28, 36);
          color: white;
        "
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <ag-grid-angular
    #agGrid
    style="width: 100%; height: calc(100vh - 250px); flex: 1 1 auto"
    class="ag-theme-alpine"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [rowData]="listData"
    [rowSelection]="'single'"
    [pagination]="true"
    [paginationPageSize]="15"
    [context]="context"
    (firstDataRendered)="onFirstDataRendered($event)"
    [frameworkComponents]="frameworkComponents"
  ></ag-grid-angular>
</div>

<ng-template
  #editViewPopup
  class="example-sidenav"
  mode="over"
  style="height: auto"
>
  <div style="text-align-last: end">
    <mat-icon (click)="close_icon()">close</mat-icon>
  </div>
  <div style="width: 100%" *ngIf="formAction != 'view'">
    <app-dynamic-form
      [formName]="listName"
      [model]="selectedRow"
      [mode]="'popup'"
      (onClose)="close($event)"
    ></app-dynamic-form>
  </div>
  <div class="center" style="width: 100%" *ngIf="formAction == 'view'">
    <h2 class="page-title">{{ pageHeading }}</h2>
    <formly-form [model]="selectedRow" [fields]="fields"></formly-form>
  </div>
</ng-template>

<!--
<mat-drawer
    #view_drawer
    class="example-sidenav"
    mode="over"
    style="height: auto"
  >
    <div style="text-align-last: end">
      <mat-icon (click)="view_drawer.close()">close</mat-icon>
    </div>
    <div class="center" style="width: 100%">
      <h2 class="page-title">{{ pageHeading }}</h2>
    </div>
    <formly-form [model]="model_view" [fields]="fields_view"></formly-form>
  </mat-drawer> -->
<!-- </mat-dialog-content> -->
